<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./assets/css/sign-up.css">
    <link rel="stylesheet" href="./assets/css/home-page.css">
    <link rel="stylesheet" href="./assets/css/slick.css">
    <link rel="stylesheet" href="./assets/css/slick-theme.css">
    <link rel="stylesheet" href="./assets/css/price_range_style.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script src="https://kit.fontawesome.com/fd095985f5.js" crossorigin="anonymous"></script>
        <script src="./assets/angular/angular.min.js"></script>
        <script src="./assets/angular/global.js"></script>
        <script src="./assets/js/home-page.js"></script>
        <script src="./assets/js/saveJson.js"></script>
        <script src="./assets/js/slick.js"></script>
        <script src="./assets/js/price_range_script.js"></script>
    <title>Home page</title>
</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/65530f6e958be55aeaaf60b0/1hf678itd';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<body ng-app="appBanLaptop", ng-controller="search">
    <!--        SLIDE SHOW (Top)       -->
    <div class="slide-show">
        <img src="./assets/img/slide-show/slide-show top/BIG-T10-1200-44-1200x44.webp" alt="" class="top-slides">
        <img src="./assets/img/slide-show/slide-show top/DH-Ty-Ty-1200-44-1200x44.webp" alt="" class="top-slides">
        <img src="./assets/img/slide-show/slide-show top/IP15-1200-44-1200x44.webp" alt="" class="top-slides">
    </div>
    <!--        TOP HEADER       -->
    <div class="top-header">
        <img src="./assets/img/logo/horizontal-logo.png" alt="" id="top-logo" onclick="window.location.href = 'home-page.html';">
        <div id="top-search">
            <input type="search" id="top-search-input" placeholder="Bạn đang tìm..." ng-model="searchInput">
            <button id="top-search-button" ng-click="searchLaptop(searchInput)">
                <i class="fa-solid fa-magnifying-glass fa-lg fa-beat-fade" style="color: #000000;"></i>
            </button>
        </div>
        <div class="top-button" id="btn-login" onclick="btnLoginOnClick();">
            Đăng nhập
        </div>
        <div class="top-button" id="btn-cart" onclick="btnCartOnClick();">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
            <span style="margin-left: 2px;"></span>
            Giỏ hàng (0)
        </div>
    </div>
    <!--        TOP MENU         -->
    <div class="top-menu">
        <div class="top-menu-item">
            <i class="fa-solid fa-laptop fa-lg"></i>
            <div class="top-menu-item-title">Laptop</div>
        </div>
        <div class="menu-item-border"></div>
        <div class="top-menu-item" onclick="window.location.href = 'accessory.html'">
            <i class="fa-solid fa-keyboard fa-lg"></i>
            <div class="top-menu-item-title">Phụ kiện</div>
            <i class="fa-solid fa-caret-down fa-lg"></i>
            <div class="top-sub-menu">
                <i class="fa-solid fa-caret-up fa-lg"></i>
                <div class="top-sub-menu-panel">
                    <div class="top-sub-menu-item">
                        Chuột máy tính
                    </div>
                    <div class="top-sub-menu-item">
                        Bàn phím
                    </div>
                    <div class="top-sub-menu-item">
                        Tay cầm chơi game
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-border"></div>
        <div class="top-menu-item">
            <i class="fa-solid fa-hand-holding-dollar fa-lg"></i>
            <div class="top-menu-item-title">Máy cũ giá rẻ</div>
        </div>
        <div class="menu-item-border"></div>
        <div class="top-menu-item">
            <i class="fa-solid fa-laptop-medical fa-lg"></i>
            <div class="top-menu-item-title">Laptop theo hãng</div>
            <i class="fa-solid fa-caret-down fa-lg"></i>
            <div class="top-sub-menu">
                <i class="fa-solid fa-caret-up fa-lg"></i>
                <div class="top-sub-menu-panel" id="laptop-bands-sub-menu">
                    <div class="top-sub-menu-item" onclick="loadHpProduct();">
                        Laptop HP
                    </div>
                    <div class="top-sub-menu-item" onclick="loadAsusProduct();">
                        Laptop Asus
                    </div>
                    <div class="top-sub-menu-item" onclick="loadLenovoProduct();">
                        Laptop Lenovo
                    </div>
                    <div class="top-sub-menu-item" onclick="loadAcerProduct();">
                        Laptop Acer
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop Dell
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop MSI
                    </div>
                    <div class="top-sub-menu-item">
                        Macbook
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop Itel
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop Gigabyte
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop Surface
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop Masstel
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop LG
                    </div>
                    <div class="top-sub-menu-item">
                        Laptop Singpc
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-border"></div>
        <div class="top-menu-item">
            <i class="fa-solid fa-filter-circle-dollar fa-lg"></i>
            <div class="top-menu-item-title">Laptop theo tầm giá</div>
            <i class="fa-solid fa-caret-down fa-lg"></i>
            <div class="top-sub-menu">
                <i class="fa-solid fa-caret-up fa-lg"></i>
                <div class="top-sub-menu-panel">
                    <div class="top-sub-menu-item">
                        Dưới 10 triệu
                    </div>
                    <div class="top-sub-menu-item">
                        10 - 15 triệu
                    </div>
                    <div class="top-sub-menu-item">
                        15 - 20 triệu
                    </div>
                    <div class="top-sub-menu-item">
                        20 - 25 triệu
                    </div>
                    <div class="top-sub-menu-item">
                        25 - 30 triệu
                    </div>
                    <div class="top-sub-menu-item">
                        Trên 30 triệu
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-border"></div>
        <div class="top-menu-item">
            <i class="fa-solid fa-circle-info fa-lg"></i>
            <div class="top-menu-item-title">Dịch vụ tiện ích</div>
        </div>
        <div class="menu-item-border"></div>
        <div class="top-menu-item">
            <i class="fa-solid fa-question fa-lg"></i>
            <div class="top-menu-item-title">Hỏi đáp</div>
        </div>
        <div class="menu-item-border admin"></div>
        <div class="top-menu-item admin">
            <i class="fa-solid fa-user-tie fa-lg"></i>
            <div class="top-menu-item-title">Admin</div>
        </div>
    </div>
    <div class="container">
        <div class="main-title"></div>
    </div>
    <div class="container" style="justify-content: space-between;">
        <div class="price-filter">
            <p>Tìm theo khoảng giá: </p>
            <div id="slider-range" class="price-filter-range" name="rangeInput" style="width: 300px;"></div>
            Từ
            <input type="text" id="min_price" class="price-range-field" ng-model="min_price" disabled/>
            đ
            Đến
            <input type="text" id="max_price" class="price-range-field" ng-model="max_price" disabled/>
            đ
        </div>
        <select class="sort-box" onchange="sort()">
            <option value="default" selected>Sắp xếp theo</option>
            <option value="high-to-low">Giá cao đến thấp</option>
            <option value="low-to-high">Giá thấp đến cao</option>
        </select>
    </div>
    <!--        PRODUCTS CONTAINER        -->
    <div class="products-container" id="products">
        <!-- <p style="font-size: 32px; font-weight: bold; color: #333; width: 100%; text-align: center; margin:200px 0;">Không có sản phẩm nào </p>
        <p style="font-size: 26px; color: #333; width: 100%; text-align: center; margin-bottom: 20px;">Xem các sản phẩm khác</p> -->
        <div class="product-item col-2-4 col-s-6" onclick="showDetails('SP01')" ng-repeat="laptop in listLaptop">
            <div class="sale-percent">
                -{{getRandomNum(1, 30)}}%<i class="fa-solid fa-tag fa-xl" aria-hidden="true"></i>
            </div>
            <img class="product-img" src="{{host}}{{laptop.hinhAnhDaiDien}}" alt="">
            <div class="title">{{laptop.tenSanPham}}</div>
            <div class="price">{{priceFormat.format(laptop.donGia)}}đ</div>
            <div class="price-old">{{priceFormat.format(laptop.donGia + laptop.donGia * 0.15)}}đ</div>
            <ul class="desc" ng-repeat="spec in laptop.listThongSoKyThuat" ng-if="$index < 5">
                <li>{{spec.tenThongSo}}: {{spec.moTa}}</li>
            </ul>
        </div>
    </div>
    <div class="table-nav">
        <div class="table-button" ng-click="firstPageLaptops()">
            <i class="fa-solid fa-angles-left"></i>
        </div>
        <div class="table-button" ng-click="backPageLaptops()">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <input type="text" id="currentPage" value="{{pageIndex}}">
        <div id="totalPage">/ {{totalPage}}</div>
        <div class="table-button" ng-click="nextPageLaptops()">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="table-button" ng-click="lastPageLaptops()">
            <i class="fa-solid fa-angles-right"></i>
        </div>
    </div>
    <button id="btnBackToTop" onclick="document.documentElement.scrollTop = 0;"><i class="fa-solid fa-angle-up fa-bounce fa-xl"></i></button>
    <!--        FOOTER      -->
    <div class="footer">
        <div class="container" style="align-items: flex-start;">
            <ul>
                <li>Tích điểm Quà tặng VIP</li>
                <li>Lịch sử mua hàng</li>
                <li>Tìm hiểu về mua trả góp</li>
                <li>Chính sách bảo hành</li>
            </ul>
            <ul>
                <li>Giới thiệu công ty (MWG.vn)</li>
                <li>Tuyển dụng</li>
                <li>Gửi góp ý, khiếu nại</li>
                <li>Tìm siêu thị (3.354 shop)</li>
            </ul>
            <ul>
                <li><b>Tổng đài hỗ trợ</b> (Miễn phí gọi)</li>
                <li>Khiếu nại: <b>1800.1062</b> (8:00 - 21:30)</li>
                <li>Bảo hành: <b>1800.1064</b> (8:00 - 21:00)</li>
            </ul>
        </div>
        <p style="width: 100%; text-align: center;">Copyright by Phương</p>
    </div>
    <script src="./assets/angular/timkiem.js"></script>
    <script>
        // showSlideTop();
        // showLoginData();
        // showProductInCart();
        // searchProduct(window.location.href.split("?value=")[1]);
        // showLaptopBand();

        //Search when press enter
        var searchInput = document.getElementById("top-search-input");
        searchInput.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                // alert("Ok");
                document.getElementById("top-search-button").click();
            }
        });

        // Back to top button
        var btnBackToTop = document.getElementById("btnBackToTop");
        window.onscroll = function() {
            if (document.documentElement.scrollTop > 1000) {
                btnBackToTop.style.display = "block";
            }
            else {
                btnBackToTop.style.display = "none";
            }
        }
    </script>
</body>
</html>