/* ADMIN CSS */
body, html {
    height: 100%;
}
/* ADMIN HEADER */
.admin-header {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background-color: #ffd400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-header-left, .admin-header-right {
    height: 100%;
    display: flex;
    align-items: center;
}
.admin-header-logo {
    height: 100%;
    width: fit-content;
}
.admin-header-logo > img {
    height: 100%;
}
.admin-header-button {
    width: 48px;
    height: 48px;
    background-color: #ffac0a99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.admin-header-profile {
    height: 100%;
    display: flex;
    align-items: center;
}
.admin-header-profile > img {
    height: 100%;
    padding: 6px;
    border-radius: 100px;
}
.profile-info-name {
    font-size: 20px;
    font-weight: bold;
}
.profile-info-email {
    font-size: 16px;
}
/* END ADMIN HEADER */
/* ADMIN PANEL */
.admin-panel {
    height: calc(100% - 48px);
    display: flex;
}
/* ADMIN PANEL LEFT */
.admin-panel-left {
    position: sticky;
    top: 48px;
    width: 20%;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #E6E6E6;
    transform-origin: left;
    overflow: hidden;
}
.show-menu {
    animation: 0.4s show-menu linear;
    color: #000000;
}
.hide-menu {
    animation: 0.4s hide-menu linear;
    color: transparent;
}
.hide-menu i {
    color: #000000;
}
@keyframes show-menu {
    0% {
        transform: scaleX(0);
    }
    90% {
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes hide-menu {
    0% {
        transform: scaleX(1);
    }
    10% {
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleX(0);
    }
}
.panel-left-item {
    font-size: 20px;
    cursor: pointer;
}
.left-item-content, .left-sub-item {
    height: 48px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #E6E6E6;
}
.left-item-content i, .left-sub-item i {
    margin-right: 10px;
}
.left-item-content div, .left-sub-item div {
    font-size: 18px;
}
.left-sub-item-panel {
    display: none;
    transform: scaleY(0);
    overflow: hidden;
    transform-origin: top;
}
.show-sub-items {
    display: block;
    animation: show-sub-items 0.2s linear;
    transform: scaleY(1);
}
.hide-sub-items {
    animation: hide-sub-items 0.2s linear;
}
@keyframes show-sub-items {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes hide-sub-items {
    0% {
        transform: scaleY(1);
    }
    20% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(0);
    }
}

/* END ADMIN PANEL LEFT */

/* ADMIN PANEL RIGTH */
.admin-panel-right {
    width: 80%;
    height: 100%;
    background-color: #fefefe;
}
.admin-panel-right-header {
    width: 100%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    font-size: 28px;
    font-weight: bold;
    line-height: 48px;
    padding-left: 10px;
}
.admin-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.table-header-content {
    font-size: 24px;
    padding-left: 10px;
}
.admin-table {
    display: block;
    width: 100%;
    height: calc(100% - 48px - 48px - 60px);
    text-align: left;
    overflow: auto;
    white-space: nowrap;
}
.admin-table th {
    position: sticky;
    top: 0px;
    background-color: #f4f4f4;
    font-size: 18px;
    padding: 20px;
    border-bottom: 1px solid #E6E6E6;
}
.admin-table td {
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #E6E6E6;
}
.table-image {
    width: 120px;
}
.table-button {
    background-color: #ffd400;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
}
.table-button:hover {
    color: #fff;
}
.table-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
#currentPage {
    width: 50px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
#totalPage {
    width: 50px;
    height: 40px;
    font-size: 34px;
}
/* END ADMIN PANEL RIGTH */

/* PRODUCT DETAILS PANEL */
.product-detail {
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-detail > i {
    background-color: #fff;
    color: #ccc;
    font-size: 32px;
    align-self: flex-end;
    margin-right: 5%;
}
.product-detail > i:hover {
    color: #ff5100;
}
.product-detail-panel {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}
#product-id {
    color: #666;
}
/* END PRODUCT DETAILS PANEL */

/* EDIT DETAILS && ADD PRODUCT */
.edit-detail, .add-product, .search-box {
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-detail > i, .add-product > i, .search-box > i {
    background-color: #fff;
    color: #ccc;
    font-size: 32px;
    align-self: flex-end;
    margin-right: 5%;
}
.search-box > i {
    margin-right: 30%;
}
.edit-detail > i:hover, .add-product > i:hover, .search-box > i:hover {
    color: #ff5100;
}
.edit-detail-panel, .add-product-panel, .search-box-panel {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    padding: 10px 60px;
    overflow: auto;
}
.search-box-panel {
    width: 40%;
    height: auto;
    margin-bottom: 20%;
}
.edit-detail-header, .add-product-header {
    text-align: center;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
}
.edit-detail-form, .detail-specs, .detail-desc, .add-product-form {
    display: flex;
    flex-direction: column;
}
.edit-detail-form, .add-product-form {
    margin-bottom: 10px;
}
.edit-detail-form label, .add-product-form label {
    margin: 8px 0;
    font-size: 18px;
    width: 100%;
}
.edit-detail-form input, .edit-detail-form textarea, .edit-detail-form select,
 .add-product-form input, .add-product-form textarea, .add-product-form select {
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
.detail-image {
    background-color: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 4px;
}
.product-image {
    display: none;
}
.product-image-container {
    float: left;
    width: 250px;
    height: 180px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 5px 10px;
}
.product-image-container > img {
    width: 100%;
    height: 100%;
}
.product-image-hover {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    width: 100%;
    height: 100%;
    color: #2f80ed;
    background-color: #99c1f5;
}
.product-image-container:hover > .product-image-hover {
    display: flex;
    opacity: 0.8 !important;
}
.product-image-hover > i:first-child {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    padding: 5px;
}
.product-image-hover > i:first-child:hover {
    color: #f30c28;
}
.detail-nav {
    display: flex;
    align-items: center;
    justify-content: right;
}
.form-button {
    padding: 10px 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin: 16px 10px 0 10px;
    font-size: 18px;
}
.form-button:first-child:hover {
    background-color: #006400;
    color: #fff;
}
.form-button:nth-child(2):hover {
    background-color: #f30c28;
    color: #fff;
}
/* END EDIT DETAILS */

/* STATISTICS */
.dashbroad-container {
    display: flex;
    justify-content: space-evenly;
}
.dashboard-item {
    background-color: #2f80ed;
    /* padding: 20px; */
    font-size: 24px;
    font-weight: bold;
    border-radius: 2px;
    color: #FFFFFF;
}
.dashboard-item-header {
    padding: 26px;
}
.dashboard-item-content {
    padding: 26px;
    text-align: right;
}
/* END STATISTICS */